* {
  box-sizing: border-box
}

blockquote, body, div, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, iframe, label, legend, li, nav, object, ol, p, section, table, ul {
  margin: 0;
  padding: 0
}

article, figure, footer, header, hgroup, nav, section {
  display: block
}

ul {
  list-style: none
}

[contenteditable]:before {
  content: "\feff";
  display: inline-block;
  width: 0
}

a img {
  border-width: 0
}

html {
  height: 100%
}

body {
  background: #FFF;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-size: 1.0625rem;
  line-height: 1.6875;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  -webkit-appearance: default-button;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  border-radius: 0;
  border: none;
}

fieldset {
  border: none;
}

::-webkit-input-placeholder {
  color: #888;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem
}

::-moz-placeholder {
  color: #888;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem
}

:-ms-input-placeholder {
  color: #888;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem
}

:focus {
  outline: none;
}

input, textarea {
  width: 100%;
  border: 1px solid #DDD;
  padding: .6rem .65rem;
  line-height: 1.2rem;
  color: #333
}

input[type=search] {
  -webkit-appearance: none;
  border-radius: 0
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

input[type=checkbox], input[type=radio] {
  width: auto;
  margin-right: .3em
}

h1, h2, h3, h4 {
  font-weight: 400;
  color: #333;
}

h2 {
  font-size: 1.875rem
}

h3 {
  font-size: 1.5rem
}

h4 {
  font-size: 1.25rem
}

h5 {
  font-size: 1.125rem;
  font-weight: 500
}

p {
  margin-bottom: 1rem;
  letter-spacing: -.1px;
}

a {
  font-size: 1.0625rem;
  line-height: 1.6875;
  text-decoration: underline;
  color: #008FB9;
}

a:hover {
  color: rgb(244, 132, 115);
}

/* LAYOUT */
.container {
  margin: 0 auto;
  max-width: 1280px;
}

#main {
  padding: 24px 8px;
}

#sidebar {
  display: none;
}

.clr {
  float: none;
  clear: both;
}

@media (min-width: 768px) {
  #main.has-sidebar {
    float: left;
    width: 75%;
  }

  #sidebar {
    display: block;
    float: left;
    width: 25%;
    padding: 24px 8px;
    position: sticky;
    top: 46px;
  }
}

/*HEADER */
.btn__icon {
  width: 30px;
  height: 20px;
  fill: rgb(244, 132, 115);
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  -webkit-transform: scale(.8);
  transform: scale(.8)
}

@media all and (min-width:23em) {
  .btn__icon {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

.btn:hover .btn__icon {
  fill: rgb(244, 132, 115);
}

.journey-nav__close-menu .btn__icon {
  fill: rgb(244, 132, 115);
  height: 20px;
  vertical-align: sub
}

.btn__close {
  height: 30px
}

.btn--bare {
  border: 0;
  font-size: 0;
  padding: .5rem;
  background: none;
}

.btn--block {
  display: block;
  text-align: center
}

#header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .625rem;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  vertical-align: middle;
  width: 300px;
  /*height: 55px;
  padding-left: 55px;
  background-image: url('../images/icons/default.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;*/
}

#logo img.logo-text {
  width: 100%;
  vertical-align: middle;
}

.header-sticky #logo img.logo-text {
  display: none;
}

#logo img.logo-text {
  width: 100%;
  vertical-align: middle;
}
#logo img.logo-icon {
  display: none;
}
.header-sticky #logo img.logo-icon {
  display: block;
  width: 32px;
  align-self: flex-start;
}

@media (min-width: 413px) {
  .header-sticky #logo img.logo-icon {
    display: none;
  }
}

#header {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 2px solid #DDD;
  position: relative;
}

#header-nav .social-share {
  display: none;
  flex: 0 0 auto;
  margin: 0;
  height: 2.5rem;
}

#moto {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 100;
  bottom: -18px;
  text-align: center;
}

.header-sticky #moto {
  display: none;
}

#title {
  display: none;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 0;
  padding: 0 1rem;
  margin-left: 1rem;
  border-left: 2px solid #DDD;
  color: rgb(0, 0, 0);
  font-weight: 300;
  height: 52px;
  line-height: 52px;
}

.header-sticky #header {
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 8675310;
  padding: 0;
}

.header-sticky #header-nav .social-share {
  display: block;
}

.header-sticky #logo {
  width: 160px;
  height: 40px;
  margin: 6px 0;
}

.header-sticky #content {
  padding-top: 120px;
}

#popover {
  display: none;
}

.popover-opened #popover {
  display: block;
  position: fixed;
  top: 111px;
  width: 100%;
  height: 100%;
  z-index: 111111;
  background: #fff;
  padding-top: 40px;
  padding-bottom: 100px;
  overflow: auto;
}

.popover-opened.header-sticky #popover {
  top: 54px;
}

.popover-opened {
  height: 100vh;
  overflow: hidden;
}

.input-with-button {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

#popover .input-with-button {
  width: 90%;
}

.input-with-button input {
  width: 100% !important;
}

.search-form__btn {
  padding: .65rem;
  background: rgb(244, 132, 115);
  color: #fff;
}

.search-form__input {
  padding-left: 1rem;
  padding-right: 6rem;
  font-size: 1rem;
}

.search-form__input:active, .search-form__input:focus {
  box-shadow: 0 0 .1rem .05rem rgb(244, 132, 115)
}

#popover .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#popover .menu>li {
  width: 200px;
  box-sizing: content-box;
  text-align: center;
  margin: 1rem .5rem;
}

#popover .menu>li>a {
  display: block;
  position: relative;
  top: 14px;
}

#popover .menu .nav-child {
  height: calc(100% - 90px);
  text-align: left;
  padding: 2rem 1rem 1rem 1rem;
  background: rgb(255, 240, 235);
}

#popover .menu .nav-child a {
  text-decoration: none;
  color: #333;
  -webkit-transition: border ease .15s;
  transition: border ease .15s
}

#popover .menu .nav-child a:focus, #popover .menu .nav-child a:hover {
  border-bottom: solid 2px rgb(244, 132, 115);
}

.icon-menu__icon {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  fill: #A7BA82;
}

.icon-menu__text {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 8px;
  font-family: 'Ubuntu', sans-serif;
  font-size: .875rem;
  line-height: 28px;
  height: 28px;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
}

.icon-menu__text:after, .icon-menu__text:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 0
}

.icon-menu__text {
  background: #D4DCB5;
}

.icon-menu__text:before {
  right: 100%;
  border-width: 14px 14px 14px 6px;
  border-color: #D4DCB5 #D4DCB5 #D4DCB5 transparent;
}

.icon-menu__text:after {
  left: 100%;
  border-width: 14px 6px 14px 14px;
  border-color: #D4DCB5 transparent #D4DCB5 #D4DCB5;
}

@media all and (min-width:40em) {
  .search-form--no-result {
    margin-bottom: 0
  }

  .search-form--no-result .search-form__input {
    padding-right: 9rem
  }
}

/* ARTICLE */
.article-body {
  max-width: 43.75rem;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.1rem;
}

.article-body img {
  width: 100%;
  height: auto;
}

.article-body .moduletable img {
  width: auto;
}

.tags {
  font-size: .625rem;
  margin: 0 0 1rem;
}

.tags li {
  display: inline;
  margin: .3rem;
}

.tags li a {
  display: inline-block;
  text-decoration: none;
  padding: .6rem;
  background: #b3b3b3;
  letter-spacing: -.1px;
  line-height: 1;
  font-size: 1rem;
  color: #fff;
}

.page-header h1 {
  font-size: 1.9rem;
  line-height: 1.07;
  font-weight: 300;
  text-align: center;
}

.item-page .page-header h1 {
  text-align: left;
  margin-bottom: 50px;
}

.article-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.article-info {
  margin-bottom: .875rem;
  font-size: 0.9rem;
  line-height: 1.45;
  color: #000;
  font-weight: 300;
}

dd.createdby, dd.modified {
  margin: 0;
}

dd.createdby {
  padding-left: .5rem;
  text-transform: uppercase;
  display: inline;
  font-weight: 500;
}

dd.modified {
  padding: 0;
  display: inline;
  font-style: italic;
}

dd.modified::before {
  content: '/';
}

.item-image {
  text-align: center;
  margin-bottom: 1rem;
}

.item-image img {
  display: block;
  margin: 0 auto;
}

.fields-container, .field-entry {
  margin: 0;
}

.item-page .econaArticleImageBlock {
  margin-bottom: 16px;
}

.econaImage img {
  width: 100%;
}

.econaInfo {
  display: block;
  padding-top: .625rem;
  font-size: .875rem;
  line-height: 1.25;
  color: #888;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 auto;
  text-align: center;
  font-style: normal;
}

.social-share {
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-container li {
  padding: 8px;
  width: 100%;
  min-width: 196px;
}

.cards-container li.standout-article {
  width: 100%;
}

.cards-container li.standout-article .card__tag-wrapper {
  display: none;
}



.card {
  display: block;
  height: 100%;
  margin-bottom: .625rem;
  text-align: center;
  color: #333;
  background: #FFF;
  font-size: 1rem;
  border: 1px solid #EEE;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .09);
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
  text-decoration: none;
}

.card__content {
  position: relative;
  width: 100%;
  padding: 0 .6rem;
}

.card__tag-wrapper {
  display: block;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  font-size: 0;
  position: absolute;
  top: -14px;
  left: 0;
  right: 0;
}

.card__tag {
  display: inline-block;
  position: relative;
  padding: .47rem 0;
  vertical-align: top;
  font-size: .75rem;
  line-height: 1.1;
  letter-spacing: 1px;
  background: rgb(244, 132, 115);
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: -webkit-calc(100% - 28px);
  max-width: calc(100% - 28px);
  height: 28px;
  margin: 0;
  color: #fff;
}

.card__triangle, .card__triangle--flipped {
  display: inline-block;
  width: 0;
  border-style: solid;
}

.card__triangle {
  border-width: 14px 14px 14px 6px;
  border-color: rgb(244, 132, 115) rgb(244, 132, 115) rgb(244, 132, 115) transparent;
}

.card__triangle--flipped {
  border-width: 14px 6px 14px 14px;
  border-color: rgb(244, 132, 115) transparent rgb(244, 132, 115) rgb(244, 132, 115);
}

/* CRAFT */
.card__tag-wrapper--craft .card__triangle {
  border-color: #e7bb46 #e7bb46 #e7bb46 transparent;
}

.card__tag-wrapper--craft .card__tag {
  background: #e7bb46;
}

.card__tag-wrapper--craft .card__triangle--flipped {
  border-color: #e7bb46 transparent #e7bb46 #e7bb46;
}

/* FOOD */
.card__tag-wrapper--food .card__triangle {
  border-color: #80b092 #80b092 #80b092 transparent;
}

.card__tag-wrapper--food .card__tag {
  background: #80b092;
}

.card__tag-wrapper--food .card__triangle--flipped {
  border-color: #80b092 transparent #80b092 #80b092;
}

/* TRAVEL */
.card__tag-wrapper--travel .card__triangle {
  border-color: #5582b1 #5582b1 #5582b1 transparent;
}

.card__tag-wrapper--travel .card__tag {
  background: #5582b1;
}

.card__tag-wrapper--travel .card__triangle--flipped {
  border-color: #5582b1 transparent #5582b1 #5582b1;
}

/* IDEAS */
.card__tag-wrapper--ideas .card__triangle {
  border-color: #51be8c #51be8c #51be8c transparent;
}

.card__tag-wrapper--ideas .card__tag {
  background: #51be8c;
}

.card__tag-wrapper--ideas .card__triangle--flipped {
  border-color: #51be8c transparent #51be8c #51be8c;
}

/* DECOR */
.card__tag-wrapper--decor .card__triangle {
  border-color: #a2769a #a2769a #a2769a transparent;
}

.card__tag-wrapper--decor .card__tag {
  background: #a2769a;
}

.card__tag-wrapper--decor .card__triangle--flipped {
  border-color: #a2769a transparent #a2769a #a2769a;
}

/* PARENTING */
.card__tag-wrapper--parenting .card__triangle {
  border-color: #f48473 #f48473 #f48473 transparent;
}

.card__tag-wrapper--parenting .card__tag {
  background: #f48473;
}

.card__tag-wrapper--parenting .card__triangle--flipped {
  border-color: #f48473 transparent #f48473 #f48473;
}

/* BOOKS */
.card__tag-wrapper--books .card__triangle {
  border-color: #9a7e53 #9a7e53 #9a7e53 transparent;
}

.card__tag-wrapper--books .card__tag {
  background: #9a7e53;
}

.card__tag-wrapper--books .card__triangle--flipped {
  border-color: #9a7e53 transparent #9a7e53 #9a7e53;
}

/* ECOLIFE */
.card__tag-wrapper--ecolife .card__triangle {
  border-color: #87ac40 #87ac40 #87ac40 transparent;
}

.card__tag-wrapper--ecolife .card__tag {
  background: #87ac40;
}

.card__tag-wrapper--ecolife .card__triangle--flipped {
  border-color: #87ac40 transparent #87ac40 #87ac40;
}

/* VARIOUS */
.card__tag-wrapper--various .card__triangle {
  border-color: #6d8992 #6d8992 #6d8992 transparent;
}

.card__tag-wrapper--various .card__tag {
  background: #6d8992;
}

.card__tag-wrapper--various .card__triangle--flipped {
  border-color: #6d8992 transparent #6d8992 #6d8992;
}

.card__title {
  padding: 1.75rem 0;
  font-size: 1.125rem;
  line-height: 1.25;
  max-width: 100%;
  font-weight: 300;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-2px);
}

.card__underline {
  background-image: -webkit-linear-gradient(left, #FFF 0, #FFF 100%);
  background-image: linear-gradient(to right, #FFF 0, #FFF 100%);
  background-position: 0 99%;
  background-repeat: repeat-x;
  background-size: 100% 2px;
  -webkit-transition: background-image .25s ease;
  transition: background-image .25s ease;
}

.card:hover .card__underline {
  background-image: -webkit-linear-gradient(left, rgb(244, 132, 115) 0, rgb(244, 132, 115) 100%);
  background-image: linear-gradient(to right, rgb(244, 132, 115) 0, rgb(244, 132, 115) 100%);
}

.card__image, .card__media img {
  display: block;
  width: 100%;
  height: 100%;
}

.card__media .econaImage {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 66.66%;
}

.card__media .econaImage img {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
}

.card__media .econaInfo {
  display: none;
}

@media (min-width: 413px) {
  .header-sticky #logo img.logo-text {
    display: block;
  }

  .cards-container li {
    width: 50%;
  }
}

@media (min-width: 576px) {
  .cards-container li {
    width: 33%;
  }

  .cards-container.layout-1-2 li {
    width: 50%;
  }

  .cards-container.layout-1-2 li.standout-article {
    width: 100%;
  }

  .cards-container.layout-1-2 li.standout-article a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }

  .cards-container.layout-1-2 li.standout-article .card__header {
    width: 60%;
  }

  .cards-container.layout-1-2 li.standout-article .card__wrapper {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .header-sticky #title {
    display: block;
  }

  .cards-container li {
    width: 25%;
  }

  .cards-container.layout-3 li {
    width: 33%;
  }

  .cards-container.layout-1-2 li {
    width: 25%;
  }

  .cards-container.layout-1-2 li.standout-article {
    width: 50%;
    position: relative;
  }

  .cards-container li.standout-article .card__title  {
    padding: 0.75rem 0;
  }

  .cards-container.layout-1-2 li.standout-article a {
    display: block;
    margin-bottom: 0;
  }

  .cards-container.layout-1-2 li.standout-article .card__header {
    width: 100%;
  }

  .cards-container.layout-1-2 li.standout-article .card__wrapper {
    position: absolute;
    background: #fff;
    top: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
  }

  .cards-container.layout-1-2 li.standout-article .card__media .econaImage {
    padding-top: 55%;
  }
}

@media (min-width: 992px) {}

/* SHARE ICONS */
.share-link, .social-share .share-icon {
  height: 2.5rem;
  position: relative
}

.social-share {
  text-align: center;
}

.share-link {
  display: inline-block;
  overflow: visible;
  background: #FFF;
  -webkit-transition: background .15s ease;
  transition: background .15s ease;
  font-size: 0;
  padding: 0
}

.share-link:focus, .share-link:hover {
  background: #FFF;
  cursor: pointer
}

.social-share .icon {
  width: 5.25rem;
  -webkit-transition: fill .15s ease;
  transition: fill .15s ease;
  pointer-events: none;
  overflow: hidden
}

.social-share .icon-facebook {
  fill: #3B5998
}

.share-item:hover .icon-facebook {
  fill: #2D4679
}

.social-share .icon-pinterest {
  fill: #C92228;
  width: 4.2rem
}

.share-item:hover .icon-pinterest {
  fill: #AA2529
}

.social-share .icon-envelope {
  fill: rgb(244, 132, 115);
  padding: 0
}

.share-item:hover .icon-envelope {
  fill: #6495A3
}

/* SEARCH PAGE */
/* CATEGORY PAGE */
.subheading-category {
  color: rgb(0, 0, 0);
  display: block;
  font-size: 1.9rem;
  line-height: 1.07;
  letter-spacing: -.5px;
  font-weight: 300;
  margin-bottom: .875rem;
  text-align: center;
}

.heading__subtitle {
  padding: 0 1rem;
  font-size: 1.125rem;
  width: 70%;
  margin: 0 auto 1rem;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  color: #888;
}

.icon-heart {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
  color: rgba(212, 5, 5, 1);
}

.pagination, #search-results .pagination {
  margin: 18px auto;
  text-align: center;
}

.pagination ul {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
}

.pagination ul>li {
  display: inline-block;
  margin: 0 .05rem;
}

.pagination ul>li>a, .pagination ul>li>span {
  float: left;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
  background-color: rgb(244, 132, 115);
}

.pagination ul>li>a:hover, .pagination ul>li>a:focus {
  background-color: rgb(255, 210, 200);
}

.pagination ul>.active>a, .pagination ul>.active>span, .pagination ul>.active>a:hover, .pagination ul>.active>a:focus {
  background-color: rgb(255, 210, 200);
}

.pagination ul>.active>a, .pagination ul>.active>span {
  cursor: default;
}

.pagination ul>.disabled {
  display: none;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pagination-large ul>li>a, .pagination-large ul>li>span {
  padding: 11px 19px;
  font-size: 16.25px;
}

.pagination-small ul>li>a, .pagination-small ul>li>span {
  padding: 2px 10px;
  font-size: 12px;
}

.pagination-mini ul>li>a, .pagination-mini ul>li>span {
  padding: 0 6px;
  font-size: 9.75px;
}

.pager {
  margin: 18px 0;
  list-style: none;
  text-align: center;
  *zoom: 1;
}

.pager:before, .pager:after {
  display: table;
  content: "";
  line-height: 0;
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager li>a, .pager li>span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.pager li>a:hover, .pager li>a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

.pager .next>a, .pager .next>span {
  float: right;
}

.pager .previous>a, .pager .previous>span {
  float: left;
}

.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span {
  color: #999;
  background-color: #fff;
  cursor: default;
}

.searchintro {
  text-align: center;
}

#content .moduletable {
  margin: 40px 0;
}

#content .moduletable {
  text-align: center;
}

#content .moduletable h3 {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 0 8px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 38px;
  height: 38px;
  color: #fff;
}

#content .moduletable h3:after, #content .moduletable h3:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 0
}

#content .moduletable h3 {
  background: rgb(244, 132, 115);
}

#content .moduletable h3:before {
  right: 100%;
  border-width: 19px 19px 19px 6px;
  border-color: rgb(244, 132, 115) rgb(244, 132, 115) rgb(244, 132, 115) transparent;
}

#content .moduletable h3:after {
  left: 100%;
  border-width: 19px 6px 19px 19px;
  border-color: rgb(244, 132, 115) transparent rgb(244, 132, 115) rgb(244, 132, 115);
}

.colored-zone {
  background-color: rgb(255, 240, 235);
  margin: 60px 0 0 0;
}

.colored-zone>div {
  position: relative;
  top: -30px;
}

.moduletable.as-seen-in {
  margin-top: 40px;
}

.bannergroup {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.banneritem {
  margin: 8px;
  max-width: 120px;
}

@media (min-width: 768px) {
  .bannergroup {
    justify-content: space-between;
  }

  .banneritem {
    margin: 8px;
    max-width: auto;
  }
}

#sidebar .bannergroup {
  justify-content: center;
  padding: 0 20%;
}

#sidebar .moduletable {
  margin-top: 0;
}

/* FOOTER */
#footer {
  padding: 8px;
  margin-top: 16px;
}

#footer .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#footer .menu li {
  margin: 6px;
}

#footer .menu a {
  color: #888;
  text-decoration: none;
}

#footer .menu a:hover, #footer .menu a:focus {
  text-decoration: underline;
}

#mailchimp-subscribe .input-with-button input {
  width: auto;
  flex-grow: 1;
}

#mailchimp-subscribe .newsletter-form__btn {
  padding: .65rem;
  background: rgb(244, 132, 115);
  white-space: nowrap;
  color: #fff;
}

#mailchimp-subscribe .pretext {
  font-size: 1rem;
  margin: 0 0 .75rem 0;
  padding: 0;
}

.menu .item-books .icon-menu__text {
  background-color: #9a7e53;
}

.menu .item-books .icon-menu__text:before {
  border-color: #9a7e53 #9a7e53 #9a7e53 transparent;
}

.menu .item-books .icon-menu__text:after {
  border-color: #9a7e53 transparent #9a7e53 #9a7e53;
}

.menu .item-craft .icon-menu__text {
  background-color: #e7bb46;
}

.menu .item-craft .icon-menu__text:before {
  border-color: #e7bb46 #e7bb46 #e7bb46 transparent;
}

.menu .item-craft .icon-menu__text:after {
  border-color: #e7bb46 transparent #e7bb46 #e7bb46;
}

.menu .item-decor .icon-menu__text {
  background-color: #a2769a;
}

.menu .item-decor .icon-menu__text:before {
  border-color: #a2769a #a2769a #a2769a transparent;
}

.menu .item-decor .icon-menu__text:after {
  border-color: #a2769a transparent #a2769a #a2769a;
}

.menu .item-ecolife .icon-menu__text {
  background-color: #87ac40;
}

.menu .item-ecolife .icon-menu__text:before {
  border-color: #87ac40 #87ac40 #87ac40 transparent;
}

.menu .item-ecolife .icon-menu__text:after {
  border-color: #87ac40 transparent #87ac40 #87ac40;
}

.menu .item-food .icon-menu__text {
  background-color: #80b092;
}

.menu .item-food .icon-menu__text:before {
  border-color: #80b092 #80b092 #80b092 transparent;
}

.menu .item-food .icon-menu__text:after {
  border-color: #80b092 transparent #80b092 #80b092;
}

.menu .item-ideas .icon-menu__text {
  background-color: #51be8c;
}

.menu .item-ideas .icon-menu__text:before {
  border-color: #51be8c #51be8c #51be8c transparent;
}

.menu .item-ideas .icon-menu__text:after {
  border-color: #51be8c transparent #51be8c #51be8c;
}

.menu .item-various .icon-menu__text {
  background-color: #6d8992;
}

.menu .item-various .icon-menu__text:before {
  border-color: #6d8992 #6d8992 #6d8992 transparent;
}

.menu .item-various .icon-menu__text:after {
  border-color: #6d8992 transparent #6d8992 #6d8992;
}

.menu .item-parenting .icon-menu__text {
  background-color: #f48473;
}

.menu .item-parenting .icon-menu__text:before {
  border-color: #f48473 #f48473 #f48473 transparent;
}

.menu .item-parenting .icon-menu__text:after {
  border-color: #f48473 transparent #f48473 #f48473;
}

.menu .item-travel .icon-menu__text {
  background-color: #5582b1;
}

.menu .item-travel .icon-menu__text:before {
  border-color: #5582b1 #5582b1 #5582b1 transparent;
}

.menu .item-travel .icon-menu__text:after {
  border-color: #5582b1 transparent #5582b1 #5582b1;
}

.icon-menu__icon--books {
  background: url('../images/icons/books.png');
  background-size: contain;
}

.icon-menu__icon--craft {
  background: url('../images/icons/craft.png');
  background-size: contain;
}

.icon-menu__icon--decor {
  background: url('../images/icons/decor.png');
  background-size: contain;
}

.icon-menu__icon--ecolife {
  background: url('../images/icons/ecolife.png');
  background-size: contain;
}

.icon-menu__icon--food {
  background: url('../images/icons/food.png');
  background-size: contain;
}

.icon-menu__icon--ideas {
  background: url('../images/icons/ideas.png');
  background-size: contain;
}

.icon-menu__icon--various {
  background: url('../images/icons/miscellaneous.png');
  background-size: contain;
}

.icon-menu__icon--parenting {
  background: url('../images/icons/parenting.png');
  background-size: contain;
}

.icon-menu__icon--travel {
  background: url('../images/icons/travel.png');
  background-size: contain;
}

/*
body.menu-item-books #logo {
  background-image: url('../images/icons/books.png');
}

body.menu-item-craft #logo {
  background-image: url('../images/icons/craft.png');
}

body.menu-item-decor #logo {
  background-image: url('../images/icons/decor.png');
}

body.menu-item-ecolife #logo {
  background-image: url('../images/icons/ecolife.png');
}

body.menu-item-food #logo {
  background-image: url('../images/icons/food.png');
}

body.menu-item-ideas #logo {
  background-image: url('../images/icons/ideas.png');
}

body.menu-item-various #logo {
  background-image: url('../images/icons/miscellaneous.png');
}

body.menu-item-parenting #logo {
  background-image: url('../images/icons/parenting.png');
}

body.menu-item-travel #logo {
  background-image: url('../images/icons/travel.png');
}*/
.credits {
  margin: 1rem;
  font-size: 14px;
  color: #888;
  text-align: center;
}

.credits a {
  font-size: 14px;
  color: #888;
  text-decoration: none;
}

#footer h3 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 8px;
}

#footer .moduletable {
  margin: 10px auto;
}

#footer .footer-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-newsletter {
  width: 380px;
  min-width: 300px;
}

.footer-social {
  margin: 0 30px;
}

.footer-menu {
  align-self: center;
}

.latestnews.cards-container {
  width: 100%;
  align-items: flex-start;
}

#homepage-newsletter {
  min-height: 160px;
  background: url('../images/homepage-newsletter.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px 0 10px;
}

#homepage-newsletter form {
  width: 300px;
}
@media (min-width: 768px) {
  #homepage-newsletter form {
    width: 470px;
  }
}


#homepage-newsletter h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

#homepage-newsletter .input-with-button input {
  width: auto;
  flex-grow: 1;
  font-size: 18px;
  line-height: 24px;
}

#homepage-newsletter .newsletter-form__btn {
  padding: .65rem;
  background: rgb(244, 132, 115);
  white-space: nowrap;
  color: #fff;
}

#main .moduletable.newsletter-frontpage h3 {
  margin-bottom: 0;
  position: relative;
  top: 19px;
  z-index: 2;
}

#homepage-newsletter .input-with-button {
  height: 46px;
}

.category-2 .page-header h1 {
  text-align: center;
}

.category-2 .article-tools {
  display: none;
}

.cc-window{opacity:1;transition:opacity 1s ease}.cc-window.cc-invisible{opacity:0}.cc-animate.cc-revoke{transition:transform 1s ease}.cc-animate.cc-revoke.cc-top{transform:translateY(-2em)}.cc-animate.cc-revoke.cc-bottom{transform:translateY(2em)}.cc-animate.cc-revoke.cc-active.cc-bottom,.cc-animate.cc-revoke.cc-active.cc-top,.cc-revoke:hover{transform:translateY(0)}.cc-grower{max-height:0;overflow:hidden;transition:max-height 1s}
.cc-link,.cc-revoke:hover{text-decoration:underline}.cc-revoke,.cc-window{position:fixed;overflow:hidden;box-sizing:border-box;font-family:Helvetica,Calibri,Arial,sans-serif;font-size:16px;line-height:1.5em;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;z-index:9999}.cc-window.cc-static{position:static}.cc-window.cc-floating{padding:2em;max-width:24em;-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner{padding:1em 1.8em;width:100%;-ms-flex-direction:row;flex-direction:row}.cc-revoke{padding:.5em}.cc-header{font-size:18px;font-weight:700}.cc-btn,.cc-close,.cc-link,.cc-revoke{cursor:pointer}.cc-link{opacity:.8;display:inline-block;padding:.2em}.cc-link:hover{opacity:1}.cc-link:active,.cc-link:visited{color:initial}.cc-btn{display:block;padding:.4em .8em;font-size:.9em;font-weight:700;border-width:2px;border-style:solid;text-align:center;white-space:nowrap}.cc-highlight .cc-btn:first-child{background-color:transparent;border-color:transparent}.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover{background-color:transparent;text-decoration:underline}.cc-close{display:block;position:absolute;top:.5em;right:.5em;font-size:1.6em;opacity:.9;line-height:.75}.cc-close:focus,.cc-close:hover{opacity:1}
.cc-revoke.cc-top{top:0;left:3em;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em}.cc-revoke.cc-bottom{bottom:0;left:3em;border-top-left-radius:.5em;border-top-right-radius:.5em}.cc-revoke.cc-left{left:3em;right:unset}.cc-revoke.cc-right{right:3em;left:unset}.cc-top{top:1em}.cc-left{left:1em}.cc-right{right:1em}.cc-bottom{bottom:1em}.cc-floating>.cc-link{margin-bottom:1em}.cc-floating .cc-message{display:block;margin-bottom:1em}.cc-window.cc-floating .cc-compliance{-ms-flex:1 0 auto;flex:1 0 auto}.cc-window.cc-banner{-ms-flex-align:center;align-items:center}.cc-banner.cc-top{left:0;right:0;top:0}.cc-banner.cc-bottom{left:0;right:0;bottom:0}.cc-banner .cc-message{display:block;-ms-flex:1 1 auto;flex:1 1 auto;max-width:100%;margin-right:1em}.cc-compliance{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:justify;align-content:space-between}.cc-floating .cc-compliance>.cc-btn{-ms-flex:1;flex:1}.cc-btn+.cc-btn{margin-left:.5em}
@media print{.cc-revoke,.cc-window{display:none}}@media screen and (max-width:900px){.cc-btn{white-space:normal}}@media screen and (max-width:414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape){.cc-window.cc-top{top:0}.cc-window.cc-bottom{bottom:0}.cc-window.cc-banner,.cc-window.cc-floating,.cc-window.cc-left,.cc-window.cc-right{left:0;right:0}.cc-window.cc-banner{-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner .cc-compliance{-ms-flex:1 1 auto;flex:1 1 auto}.cc-window.cc-floating{max-width:none}.cc-window .cc-message{margin-bottom:1em}.cc-window.cc-banner{-ms-flex-align:unset;align-items:unset}.cc-window.cc-banner .cc-message{margin-right:0}}
.cc-floating.cc-theme-classic{padding:1.2em;border-radius:5px}.cc-floating.cc-type-info.cc-theme-classic .cc-compliance{text-align:center;display:inline;-ms-flex:none;flex:none}.cc-theme-classic .cc-btn{border-radius:5px}.cc-theme-classic .cc-btn:last-child{min-width:140px}.cc-floating.cc-type-info.cc-theme-classic .cc-btn{display:inline-block}
.cc-theme-edgeless.cc-window{padding:0}.cc-floating.cc-theme-edgeless .cc-message{margin:2em 2em 1.5em}.cc-banner.cc-theme-edgeless .cc-btn{margin:0;padding:.8em 1.8em;height:100%}.cc-banner.cc-theme-edgeless .cc-message{margin-left:1em}.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn{margin-left:0}
